@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(90deg, #ff5a51 10.18%, #d604b4 85.11%);
}

.App {
  min-height: 100vh;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Contenedor */
.main-container {
  min-height: 80vh;
  max-height: auto;
  padding: 4rem 4rem 4rem 4rem;
  margin: 4rem 1rem 4rem 1rem;
  background: linear-gradient(
    180deg,
    rgba(37, 37, 37, 0.9) -3.49%,
    rgba(16, 16, 16, 0.9) 105.46%
  );
  border-radius: 60px 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    40px 40px 20px rgba(0, 0, 0, 0.25);
}

/** Header */
header {
  margin-bottom: 2rem;
}

header h1 {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  line-height: 28px;
}

/** Vectores de fondo */
.smallest-vector {
  position: absolute;
  top: -5%;
  left: 15%;
  animation: spin 20s linear infinite;
}

.small-vector {
  position: absolute;
  bottom: 10%;
  right: 10%;
  animation: spin reverse 20s linear infinite;
  z-index: -1;
}

.medium-vector {
  position: absolute;
  top: 5%;
  right: 20%;
  z-index: -1;
  animation: spin 20s linear infinite;
}

.big-vector {
  position: absolute;
  left: -10%;
  bottom: -20%;
  z-index: -1;
  animation: spin reverse 20s linear infinite;
}

.closest-vector {
  position: absolute;
  left: 20%;
  top: 20%;
  filter: blur(5px);
  animation: spin reverse 40s linear infinite;
  z-index: -1;
}

.further-vector {
  position: absolute;
  right: 5%;
  top: 40%;
  filter: blur(10px);
  animation: spin reverse 20s linear infinite;
  z-index: -1;
}

.furthest-vector {
  position: absolute;
  left: 40%;
  bottom: 2%;
  z-index: -1;
  filter: blur(20px);
}

/** Background spin animation */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/** Media queries */
@media screen and (max-width: 450px) {
  .main-container {
    padding: 4rem 1rem 4rem 1rem;
  }

  form {
    font-size: 1.5rem;
    padding: 0rem 0rem 0rem 0.5rem;
  }

  img {
    display: none;
  }

  form .submit-button {
    font-size: 2rem;
  }

  button .fa-angle-down {
    font-size: 1.5rem;
    padding-right: 0.1rem;
  }

  .category-container input {
    font-size: 1.5rem;
  }

  .category-options-container span {
    font-size: 1.5rem;
    padding-left: 1rem;
  }

  .category-options-container .fa-trash {
    font-size: 1.5rem;
  }

  form .todo-input {
    font-size: 1.5rem;
  }

  .todo-list .task {
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
  }

  .todo-list .task .fa-trash {
    font-size: 1.5rem;
  }
}
